* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	width: 100vw;
	margin: 0 auto;
}

body {
	/*background-color: #202020;*/
	/*background-color: #1c2f2f;*/
	/*position: relative;*/
	color: gray;
	overflow-x: hidden;
	background-color: #171b27;
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));
}

.container-fluid {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#bootloot-nav {
	height: 13vh;
	padding: 0;
	margin: 0;
}

#welcomeText {
	background-color: #171b27;
	color: #daa520;
	font-weight: 700;
}

#landing-page {
	width: 100%;
	margin: 0 auto;
}

#bgJumbo1 {
	margin: 20px !important;
	padding: 0 !important;
	height: 60vh;
	width: 40%;
	right: 10vh;
	/*margin-top: -20vh !important;*/
	float: left;
	position: absolute;
	filter: grayscale(.75);
}

#bgJumbo1:hover {
	filter: unset;
	z-index: 500;
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

#bgJumbo1 img {
	height: 100%;
	width: 100%;
	border: solid white 15px;	
}

#jumboText1-container {
	position: relative;
	top: 60%;
	right: -57%;
	font-size: 38px;
	font-weight: bolder;
	filter: none !important;
	background-color: rgba(218,165,32, 0.7); /*yellowgold*/
	width: 20vw;
	height: 20vh;
	text-align: center;
	z-index: 501;
	filter: unset;
}

.bgJumbo1Text {
	color: white;
}

#comfort1Text {
	/*color: #ffcd58;*/
	color: #171b27; /*navy*/
	
}

#comfort2Text {
	/*color: #ffcd58;*/
	color: #daa520; /*YELLOWGOLD*/
}

.jumbo-land {
	height: 87vh !important;
	background-color: rgba(23,27,39, 1); 
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .85));
}


#bgJumbo2 {
	margin: 0 !important;
	padding: 0 !important;
	height: 55vh;
	width: 50%;
	top: 20vh;
	left: 13vh;
	float: left;
	position: absolute;
	filter: grayscale(.9);
}

#bgJumbo2:hover {
	filter: unset;
	z-index: 500;
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

#bgJumbo2 .carousel-inner img {
	height: 100%;
	width: 100%;
	border: solid white 15px;	
}

#jumboText2-container {
	position: relative;
	top: 25%;
	right: -11%;
	font-size: 38px;
	font-weight: bolder;
	filter: none !important;
	background-color: rgba(23,27,39, 0.7); /*NAVY*/
	width: 20vw;
	height: 20vh;
	text-align: center;
	z-index: 500;
	filter: unset;
}

.bgNavy {
	background-color: #171b27; /*navy*/
}

.fontGold {
	color: #daa520; /*YELLOWGOLD*/
}

.bgJumbo1Text {
	font-size: 20px;
}

.navbar {
	box-shadow: 0 0 10px rgba(0,0,0, 1);
	background-color: rgba(23,27,39, 1) !important;
	/*font-family: 'Pacifico', cursive;*/
	height: 13vh;
	vertical-align: middle;
	z-index: 999;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 2px;
}

.nav-item {
	margin: 0;
	text-align: center;
	/*display: table-cell;*/
	vertical-align: middle;
	width: 90%;
}

.vertical-center {
	top: 50%;
	transform: translateY(-50%);
}

.fa {
	font-size: 28px;
}

.col-12 {
	padding-left: 0;
	padding-right: 0;
}

.showProduct-btn {
	font-size: 10px !important;
}

#feature-page {
	height: 60vh;
	width: 100vw;
	margin: 0 auto;
}

#feature-page h3 {
	box-shadow: 0 0 5px rgba(255,255,255, 0.5);
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 2px;
}

#bgJumboFeature {
	margin: 0vh !important;
	margin-top: -4vh !important;
	padding: 0vh !important;
	/*background-image: url("../images/bg3.jpg");*/
	background-color: rgba(23,27,39, 1); 
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));
	height: 72vh;
	width: 100%;
	z-index: 1 !important;
	/*clip-path: polygon(15% 0%, 85% 0%, 65% 100%, 0% 100%);*/
	margin: 0 auto;
	/*display: block;*/
}

#featureCards {
	float: left;
	padding-left: 10vw;
	padding-right: 10vw;
	margin-top: 5vh;
}

#featureCards .card-body {
	min-height: 229.38px;
}

@media (min-width: 576px) {
	
	.jumbotron {
		padding: 0;
	}
}

#newarrival-page {

	width: 100vw;
	margin: 0 auto;
	margin-top: 23vh;
}

#newarrival-page .col {
	height: 85vh;
}

#jumbotronNew {
	display: block;
	margin-top: -2vh;
	box-shadow: 0 0 5px rgba(255,255,255, 0.5);
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 2px;
	/*position: all;*/
	/*float: left;*/
}

#bgJumboNew {
	padding: 0 !important;
	width: 100%;
	background-color: rgba(23,27,39, 1); 
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));
	height: 100%;

}

#arival1 {
	background-image: url("../assets/images/items/14f.jpg");
	height: 229.38px;
	width: 350px;
}

#arrival1:hover {
	background-image: url("../assets/images/items/14c.jpg");
}

#carousel-featbrand {
	height: 550px;
	width: 928px;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	float: left;
	z-index: 688;
	position: relative;
	margin-bottom: 80px;
}

#dmlogo img {
	position: relative;
	float: left;
	z-index: 700;
	height: 350px;
	left: 80%;
	top: 25%;
	border-radius: 50%;
	border: solid white 10px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#carousel-featbrand img {
	height: 550px;
	width: 928px;
	border: solid white 10px;
}

#contactus {
	width: 100vw;
	height: 65vh;
	margin-top: 10vh;
	margin-bottom: -10px;
	background-color: #171b27;
	/*background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));*/
}

#contactus .containter {
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

#jumbotronContact {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 2px;
	/*position: all;*/
}

#bgJumboContact {
	padding-top: 10vh;
	padding-bottom: 10vh;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	margin-top: 5vh;
	box-shadow: none;
	font-family: 'Comfortaa', cursive;
	color: white;
	
}

#contact-form {
}

.list-group-item:hover {
	cursor: pointer;
}

.item-img-main {
	width: 100%;

}

#catalog-page {
	background-color: #171b27;
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));
	min-height: 100vh;
}

a {
	color: black;
	font-size: 18px;
}

.img-edit-item {
	size: 50%;
}


.page-footer {
	background-color: rgba(23,27,39, 1); /*NAVY*/
	height: 12vh;
	margin: 0;
	padding: 0;
}

#bootloot-foot {
	height: 150px;
}

.footer-container .fab {
	font-size: 30px;
	letter-spacing: 8px;
}

.mainLogin-container {
	background-color: #171b27;
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));
	height: 87vh;
	width: 100%;
}

.login-container {
	background-color: white;
	width: 33%;
	margin: auto;
	transform: translateY(10%);
	font-family: 'Comfortaa', cursive;
}

#returnCustLoginTab {
	/*border-bottom: solid #171b27 5px;*/
	border-bottom: solid gray 5px;
}

.mainRegister-container {
/*	background-color: #171b27;
	background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));*/
	width: 100%;
	height: 100vh;
}

.register-container {
	background-color: white;
	width: 33%;
	margin: 0 auto;
	transform: translateY(10%);
	font-family: 'Comfortaa', cursive;
	/*margin-bottom: 50px;*/
}

#newCustRegTab {
	/*border-bottom: solid #171b27 5px;*/
	border-bottom: solid gray 5px;
}

#regForm-container {
	margin-left: 20px;
	margin-right: 20px;	
}

#product-page {
	/*background-color: #171b27;*/
	/*background-image: linear-gradient(to bottom, rgba(23,27,39, 1), rgba(255,255,255, .75));*/
	min-height: 50vh;
}

.chip.chip-lg {
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  padding: 0 20px 0 20px;
  display: inline-block;
}

.chip.chip-lg .close {
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  padding-left: 10px;
}

.cat-item {
	background-color: gray;
	color: #171b27;
}

.accordion .card-header {
	background-color: #171b27;
	color: #daa520; /*YELLOWGOLD*/
}

.accordion .card-header h5 {
	color: white;
}

#orders-page {
	background-color: #171b27;
	border-radius: 25px;
	min-height: 81vh;
	color: white;
}

#orders-page thead {
	/*background-color: #daa520;*/
	background-color: gray;
	color: #171b27;
	text-transform: uppercase;
}

#orders-page h3 {
	text-align: center !important;
}

#orders-container {
	min-height: 100%;
	margin-bottom: 50px;
}

#users-page {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
}

#users-page thead {
	/*background-color: #daa520;*/
	background-color: gray;
	color: #171b27;
	text-transform: uppercase;
}

#users-page h4 {
	text-align: center !important;
}

#users-container {
	height: 100%;
}

#profile-page {
	min-height: 100vh;
}

.tab-content {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
	padding: 50px;
}

#cart-page {
	min-height: 50vh;
}

#cart-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#checkout-page {
	min-height: 50vh;
}

#checkout-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#confirmation-page {
	min-height: 50vh;
}

#confirmation-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#addItem-page {
	min-height: 87vh;
}

#addItem-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
}

#editItem-page {
	min-height: 87vh;
}

#editItem-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
}

#editItemSuccess-page, #addItemSuccess-page {
	min-height: 30vh;
}

#editItemSuccess-container, #addItemSuccess-container {
	background-color: #171b27;
	border-radius: 25px;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#showAll {
	color: white;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #daa520;
	background-image: linear-gradient(to bottom, rgba(218,165,32, 1), rgba(23,27,39, .75));
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  background-color: #555;
}



